 <!DOCTYPE html>
<html ng-app="Delena">

<head>
    <link rel="stylesheet" href="css/app.css">
    
</head>


<body ng-controller="DelenaCtrl">

    
    <div class="graph-left">
        <div ng-repeat="block in lineLeft track by $index" class="speec-block" style="height: {{block}}px; margin-left: {{$index * 20}}px;">
            
        </div>
    </div>
    
    
    <div class="eye">

    </div>
    
    <div class="graph-right">
        <div ng-repeat="block in lineRight track by $index" class="speec-block" style="height: {{block}}px; margin-left: {{$index * 20}}px;">
            
        </div>
    </div>
    
    
    <div id="text-scrawl">
        <div class="dialog" ng-repeat="line in dialog track by $index" style="color: {{line.tone}};">
            {{line.text}}
        </div>
    </div>



    
    
    <script src="../node_modules/chance/chance.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>